<div style="width: 100%;border: 1px solid black;height: 650px;display: flex;justify-content: center;align-items: center;">

<input [(ngModel)]="extract" placeholder="enter product name" class="form-control" style="width: 20%;">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input [(ngModel)] = "extracttwo" placeholder="enter product id" class="form-control" style="width: 20%;">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input [(ngModel)] = "extractthird" placeholder="enter product price" class="form-control" style="width: 20%;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<button  class="btn btn-success" (click)="form()" >submit</button>

</div>